/dts-v1/;
/plugin/;
/ {
	compatible = "rockchip,rk3399pro-evb-v11-linux";

	fragment@0 {
		target = <&dsi>;
		__overlay__ {
			mipi_panel: mipi-panel {
				compatible ="asus,ili9881c";
			};
		};
	};

	fragment@1 {
		target = <&i2c4>;
		__overlay__ {
			tinker_mcu: tinker_mcu@45 {
				status = "disabled";
			};

			tinker_mcu2: tinker_mcu2@36 {
				status = "okay";
				compatible = "tinker_mcu_ili9881c";
				reg = <0x36>;
			};
		};
	};
};
