RK_YOCTO_CFG="rockchip-rk3568-tinker_board_3"
RK_KERNEL_DTS_NAME="rk3566-tinker_board_3"
RK_USE_FIT_IMG=y
RK_WIFIBT_TTY="ttyS1"
RK_PARAMETER="parameter-buildroot-fit.txt"
RK_ROOTFS_SYSTEM_DEBIAN=y
RK_UBOOT_CFG="tinker_board_3"
RK_KERNEL_CFG="tinker_board_3_defconfig"
RK_PACKAGE_FILE_CUSTOM=y
RK_PACKAGE_FILE="rk356x-package-file"
RK_PACKAGE_UBOOT_FILE="tb3uboot-package-file"
RK_PARAMETER_UBOOT="parameter-buildroot-fit-uboot.txt"
RK_MISC_IMG="blank-misc.img"
RK_EXTRA_PARTITION_NUM=1
RK_EXTRA_PARTITION_1_DEV="userdata"
RK_EXTRA_PARTITION_1_SRC="tinkerboard3"
RK_PROJECT_NAME="Tinker_Board_3"
