RK_YOCTO_CFG="rockchip-rk3568-evb"
RK_KERNEL_DTS_NAME="rk3568-tinker_board_3n"
RK_USE_FIT_IMG=y
RK_WIFIBT_TTY="ttyS8"
RK_PARAMETER="parameter-buildroot-fit.txt"
RK_ROOTFS_SYSTEM_DEBIAN=y
RK_UBOOT_CFG="tinker_board_3n"
RK_KERNEL_CFG="tinker_board_3n_defconfig"
RK_PACKAGE_FILE_CUSTOM=y
RK_PACKAGE_FILE="rk356x-package-file"
RK_MISC_IMG="blank-misc.img"
RK_EXTRA_PARTITION_NUM=1
RK_EXTRA_PARTITION_1_DEV="userdata"
